{% extends "base.html" %}
{% load inclusion_tags %}

{% block head %}
    <script>
        $(function() {
            var stages = [
                undefined
                , ""               // IDEA
                , "label-warning"  // PLANT SELECTION
                , "label-warning"  // DESIGN
                , "label-warning"  // VERIFICATION
                , "label-info"     // WAITING
                , "label-success"  // ACTIVE
                , "label-inverse"  // ARCHIVED
            ];

            $("span[data-stage]").map(function() {
                e = $(this)
                e.addClass(stages[e.attr("data-stage")]);
            });
        });
    </script>
{% endblock %}

{% block content %}
  <h1>
    {{ exposition.name }}
    <span data-stage="{{ exposition.stage }}" class="label">{{ exposition.get_stage_display }}</span>

    <span class="buttons">
      {% if is_biologist %}
        <!-- FIXME(superbobry): edit exposition? -->
        <a class="btn"
           href="{% url "add_plants_to_exposition" exposition.pk %}"
           title="Add plants to the exposition">
          <i class="icon-plus-sign"></i> Add plants
        </a>
      {% endif %}

      {% if is_biologist %}
        <a class="btn"
           href="{% url "place_plants" exposition.pk %}" title="Reorder plants">
          <i class="icon-move"></i> Reorder plants
        </a>
      {% endif %}
    </span>

  <h5>{{ exposition.opening_date }} &mdash; {{ exposition.closing_date }}</h5>

  <h3>Description</h3>
  <p>{{ exposition.description }}</p>

  {% draw_exposition_room exposition "false" "(function(a,b,c){})" %}

{% endblock %}
