{% extends "base.html" %}

{% block content %}
  <h1>{{ exposition.name }}

    <span class="buttons">
      {% if is_biologist %}
        <!-- FIXME(superbobry): edit exposition? -->
        <a class="btn"
           href="{% url "add_plants_to_exposition" exposition.pk %}"
           title="Add plants to the exposition">
          <i class="icon-plus-sign"></i> Add plants
        </a>
      {% endif %}

      {% if is_biologist %}
        <a class="btn"
           href="{% url "place_plants" exposition.pk %}" title="Reorder plants">
          <i class="icon-move"></i> Reorder plants
        </a>
      {% endif %}
    </span>
  </h1>

  <h5>{{ exposition.opening_date }} &mdash; {{ exposition.closing_date }}</h5>

  <h3>Description</h3>
  <p>{{ exposition.description }}</p>

  <h3>Timeline</h3>
{% endblock %}
