{% extends "base.html" %}
{% load url from future %}

{% block head %}
    <script>
        var height = {{ room.height }};
        var cell_size = 30;

        var width = {{ room.width }};

        var table = new Array(height);
        for (var i = 0; i < height; i++) {
            table[i] = new Array(width);
        }

        var plant_forms;
        var plant_pictures = [
            {% for url in pictures_urls %}
                "{{ url }}",
            {% endfor %}
        ];

        function collect_forms() {
            plant_forms = $(".plant_form");
            $(".plant_form").find('.position_x input').attr('hidden', true);
            $(".plant_form").find('.position_y input').attr('hidden', true);
        }

        $(function () {
            collect_forms();
            var room = $("#room");
            for (var i = 0; i < height; i++) {
                var row = $("<div class='row_'></div>");
                for (var j = 0; j < width; j++) {
                    var d = $("<div class='cell'></div>");
                    d.data({"x": j, "y": i});
                    d.droppable({
                        drop: function (event, ui) {
                            var plant = ui.draggable;
                            var form = $(plant.data("form"));
                            form.find('.position_x input')
                                    .attr('value', $(this).data("x"));
                            form.find('.position_y input')
                                    .attr('value', $(this).data("y"));

                        }});
                    row.append(d);
                    table[i][j] = d;
                }
                room.append(row);
            }

            var plants_collection = $("#plants_collection");
            for (i = 0; i < plant_forms.length; i++) {
                var p = $("<div class='plant'></div>");
                p.css('background-image', "url('"+ plant_pictures[i] + "')");
                var form = plant_forms[i];
                var x = $(form).find('.position_x input').attr('value');
                var y = $(form).find('.position_y input').attr('value');
                p.data('form', form).appendTo(plants_collection);
                if (x >= 0 && x <= width && y >= 0 && y <= height) {
                    p.css('left', cell_size * x);
                    p.css('top', cell_size * y);
                } else {
                    p.css('left', (width + 1) * cell_size);
                    p.css('top', cell_size);
                }
                p.draggable({ grid: [cell_size, cell_size] });
            }
        })
    </script>
    <style>
        #room_container {
            width: 400px;
            height: 400px;
        }

        #room {
            position: absolute;
            width: {% widthratio room.width 1 30 %}px;
            height: {% widthratio room.height 1 30 %}px;
            background-image: url('{{ room.image.url }}');
            background-size: {% widthratio room.width 1 30 %}px {% widthratio room.height 1 30 %}px;
        }

        #plants_collection {
            position: absolute;
            height: 300px;
            float: right;
        }

        .row_ {
            width: {% widthratio room.width 1 30 %}px;
            height: 30px;
        }

        .cell {
            float: left;
            width: 28px;
            height: 28px;
            border: 1px solid black;
        }

        .plant {
            position: absolute;
            height: 28px;
            width: 28px;
            border: 1px solid black;
            background-size: 30px 30px;
        }

        .plant_form {
            display: none;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="room_container">
        <div id="room">

        </div>
        <div id="plants_collection">

        </div>
    </div>
    <form action="" method="post">{% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="plant_form">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class='position_x'>
                    {{ form.position_x }}
                </div>
                <div class='position_y'>
                    {{ form.position_y }}
                </div>
                <br>
            </div>
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>
    <br>
    <a href={% url "exposition_list" %}>Exposition list</a>
    <br>

{% endblock %}
