{% extends "base.html" %}
{% load url from future %}
{% load inclusion_tags %}

{% block head %}
    <script>
        function callback(plant_id, x, y) {

            var plant_form = $('.plant_form')
                    .children('input[value="' + plant_id + '"]')
                    .parent();

            plant_form.find('.position_x input').attr('value', x);
            plant_form.find('.position_y input').attr('value', y);
        }
    </script>
    <style>
        .plant_form {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    {% draw_exposition_room exposition "true" "callback" %}

    <form action="" method="post">{% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="plant_form">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class='position_x'>
                    {{ form.position_x }}
                </div>
                <div class='position_y'>
                    {{ form.position_y }}
                </div>
                <br>
            </div>
        {% endfor %}
        <input type="submit" value="Save"/>
    </form>

    <br>
    <a href={% url "exposition_list" %}>Exposition list</a>
    <br>

{% endblock %}
