{% extends "base.html" %}

{% load url from future %}

{% block content %}
  {% if plant_list %}
      <h1>Plants

        <span class="buttons">
          <a class="btn" href="{% url "add_plant" %}" title="Add new plant to the database">
            <i class="icon-plus-sign"></i> Add <strong>new</strong> plant
          </a>
        </span>
      </h1>

      <ul class="thumbnails span12">
        {% for plant in plant_list %}
          <li {% if forloop.counter0|divisibleby:6 %}style="margin-left: 0"{% endif %}
              class="span2">
            <div class="thumbnail">
              <img src="{{ plant.species.preview_url }}" alt="{{ plant.species }}" />
              <div class="caption">{{ plant }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
        <p>No plants yet.</p>
    {% endif %}
{% endblock %}
