body > .navbar .brand img { height: 30px; margin-top: -10px; }

body > .navbar #authentication {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
}

h1 > .buttons { float: right; font-weight: normal; }

/* Image picker. */
.imagepicker + .thumbnails .thumbnail p,
.multipleimagepicker + .thumbnails .thumbnail p,
.thumbnail .caption { text-align: center; }
