body > .navbar #authentication {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
}

/* Image picker. */
.imagepicker + .thumbnails .thumbnail p,
.thumbnail .caption { text-align: center; }
