{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        Hello,  {{ user.username }}!
        {% if user.groups.all %}
            <br>
            Your roles are:
            {% for group in user.groups.all %}
                <br>
                {{ group.name }}
            {% endfor %}
        {% else %}
            <br>
            You have no role.
        {% endif %}
        <br>
        Proceed to the <a href="exposition/list">list of expositons</a>

        <br>
        <a href="users/logout">Logout</a>
    {% else %}
        Please, <a href="users/login">login</a>
    {% endif %}

{% endblock %}