{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome to Florida!{% endblock %}</title>

    <link href="{% static "style.css" %}" media="screen" rel="stylesheet" />
    <!-- Note(superbobry): for some reason, GitHub-hosted CSS doesn't load :-( -->
    <link href="{% static "datepicker.css" %}" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
          rel="stylesheet" />

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="https://raw.github.com/eternicode/bootstrap-datepicker/master/js/bootstrap-datepicker.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
<!-- Site navigation menu -->
<div class="nav">
    <ul>
        <li>
            <a href= {% url "main_page" %}> Home</a>
        </li>
        <li>
            <a href= {% url "exposition_list" %}> Exposition List</a>
        </li>
        <li>
            <a href= {% url "plant_list" %}> Plant List</a>
        </li>
        <li>{% if user.is_authenticated %}
            <a href= {% url 'logout' %}>Logout</a>
        {% else %}
            <a href={% url 'login' %}>Login</a>
        {% endif %}
        </li>
    </ul>
</div>

<div id="sidebar">
    {% block logo %}
        <img src="{% static "logo.jpg" %}" alt="" width="" height="">
    {% endblock %}
</div>

<div id="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>
