{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.groups.all %}
            <br>
            Your roles are:
            {% for group in user.groups.all %}
                <br>
                {{ group.name }}
            {% endfor %}
        {% else %}
            <br>
            You have no role.
        {% endif %}

        <div>
            <h3>Actions</h3>
            <ul>
                <li>
                    View <a href={% url 'exposition_list' %}>list of expositions</a>
                </li>
                <li>
                    View <a href={% url 'plant_list' %}>list of plants</a>
                </li>
            </ul>
        </div>

    {% else %}
    {% endif %}

{% endblock %}