{% extends "base.html" %}
<div id="content">
{% block content %}
    {% if user.is_authenticated %}
        {% if user.groups.all %}
            Your roles are:
            <ul>
            {% for group in user.groups.all %}
                <li> {{ group.name }} </li>
            {% endfor %}
            </ul>
        {% else %}
            You have no role.
        {% endif %}

        <div id="actions">
            Actions
            <ul>
                <li>
                    view <a href={% url 'exposition_list' %}>
                    list of expositions</a>
                </li>

                {% if is_manager %}
                    <li>
                        view <a href={% url 'exposition_archive' %}>
                        archive</a>
                    </li>
                {% endif %}

                {% if is_biologist %}
                    <li>
                        view <a href={% url 'plant_list' %}>list of plants</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    {% else %}
    {% endif %}

{% endblock %}
</div>
