div.nav {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ccc;  }
div.nav ul {
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding: 0; }
div.nav li {
    float: left; }
div.nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #66B98B;
    border-right: 1px solid #ccc; }
div.nav li:first-child a {
    border-left: 1px solid #ccc; }
div.nav li a:hover {
    color: #66B98B;
    background-color: #D0E5A0; }
#content {
    width: 800px;
    margin: 0 auto;
    padding: 0;
    background-color: #FFFFFF;
}
#content ul{
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0; }
#sidebar {
    float:left;
    width:150px;
    background-color:#FFFFFF;
    min-height:10px; }